* { 
  padding: 0px; 
  margin: 0px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	width: 300px;	
	padding: 5px;
}

label {
	position: relative;
	right: 50px;
  margin: 20px 0 20px 0;
}

.label { display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-right: .3em;
}

.label-danger {
  background-color: #d9534f;
}

.label-success {
  background-color: #5cb85c;
}

.label-primary {
  background-color: #5cb85c;
}

.label-default {
  background-color: #5cb85c;
}

.label-warning {
  background-color: #f0ad4e;
}

#filterRequest {
	margin: 2px 0 10px 5px;
	width: 200px;
	color: #222222;
	border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    font-size: 17px;
    height: 36px;
    padding-left: 3px;
    font-family: "Helvetica Neue", sans-serif;
    &::-webkit-input-placeholder {
       color: #999999;
    }
}

h4 {
	margin: 0;
	padding: 5px;
}

p {
	font-size: 12px;
	margin-top: 0;
	padding: 5px;
  margin-bottom: 0px;
}

.logger-area { font-size: 12px; }

h5 { 
  font-size: 12px; 
  font-wieght: bold; 
  margin: 0px; 
  padding: 5px; 
  margin-top: 4px;
}

ol li { 
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 1.3em;
  padding: 3px 6px; 
  width: 280px;
  border-bottom: 1px solid #eee;
  text-overflow: ellipsis;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  word-wrap: break-word;
}

#delete-log {
    float: right;
    margin-right: 10px;
    margin-top: 52px;
}

#tick-icon {    
}

.show { 
  display: inline-block !important;
}

.hide { 
  display: none !important;
}

#tick-icon {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  display: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 6px;    
}